body {
    background-color: dimgray;
}

h {
    font-family: 'Shadows Into Light', cursive;
    position: relative;
    float: left;
}

.jumbotron {
    overflow: auto;
    color: darkred;
    font: bold;
    font-size: 110px;
    background-color: black;
}

#eye {
    position: relative;
    float: right;
}

#soundtrack {
    position: relative;
    float: left;
    bottom: 0px;
}

.btn {
    margin: 10px 20px 25px 5px;
}

.inputFrame {
    background-image: url("../assets/images/stalker.png");
}

.form-group {
        font-family: 'Shadows Into Light', cursive;
        color: white;
        font-size: 24px;
        font-weight: very strong;
}

.starFacts {
        font-family: 'Shadows Into Light', cursive;
        color: white;
        font-size: 24px;
        font-weight: very strong;   
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.bio {
    background-color: yellow;
}

#star_photo {
    height: auto;
    width: 100%;
}

.starInfo{
    color: white;
    font-size: 16px;
}

.form-control {
    font-size: 20px;
}

.picContainer {
    width: 200px;
    height: 120px;
}